h1{
    text-align: center;
    color: green;
}

img{
    width: 100%;
    height: auto;
}
.cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    
}

.cards2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    
}
.pic{
    border-radius: 50%;
}
.pictu{
    border-radius: 50%;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}
.pico{
    border-radius: 20px;
}

@media screen and (max-width: 430px) {
    .cards{
        width: 100%;
        margin: 0;
    }
}